{% extends "blog_base.html" %}
{% block title %}
Medical Portal- SignIn Options
{% endblock title %}

{% block content %}
<section id="content" class="s-content">


    <!-- pageheader -->
    <div class="s-pageheader">
        <div class="row">
            <div class="column">
<div class="container d-flex flex-column justify-content-center align-items-center" >
        <ul class="navbar-nav mt-3">
            <a class="btn btn-primary mb-4" href="{% url 'doctor_signup' %}" role="button">Sign Up as Doctor</a>
            <a class="btn btn-primary mb-4" href="{% url 'patient_signup' %}" role="button">Sign Up as Patient</a>
            <a class="btn btn-success" href="{% url 'login' %}" role="button">Login</a>
        </ul>

</div>
</div>
</div>
</div>
{% endblock content %}